@font-face {
  font-family: 'Marker Felt';
  src: local('Marker Felt'), url(./fonts/MarkerFelt.ttf) format('truetype');
}

.trophy-icon {
  transform: rotate(-15deg);
  position: absolute;
  top: -10px;
  left: -25px;
  font-size: 2.9rem;
}
.center {
  text-align: center;
}

.card {
  border-radius: 10px;
} 
.card .card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 
.right{
  float:right;
}

.left{
  float:left;
}

.left-right-border {
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}

@media(max-width:767px){
  .left-right-border {
    width: 100%;
    border: hidden;
  }
}

.md-progress {
  background-color: #999999;
}
.md-progress .progress-bar {
  background-color: #7885CC;
}

.question-result-bg {
  padding: 1rem;
  margin: auto;
  border-radius: 1rem;
  background-color: #f2f2f2;
  border: 1px solid;
  border-color: #999999;
}

#main-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

/*    NavBar   */
.current {
  background-color: rgba(255, 255, 255, 0.2);
}

/*    LoginPage   */
#loginpageview h3 {
  font-family: 'Marker Felt';
  padding-left: 3rem;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  color: #000000
}

#loginpageview h5 {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  color: #000000}

#loginpageview i {
  color: #9e9e9e !important;
}

/*    HomePage   */
.classic-tabs ul{
  background-color: #000000;
}

.classic-tabs .nav li a.active {
    color: #fff;
    border-bottom: 5px solid;
}

.gray-bg {
  background-color: #F2F2F2;
}

#questions-list {
  list-style-type: none;
  padding: 0px;
  margin-left: 3rem;
  margin-right: 3rem;
  text-decoration: none;
  background-color: transparent;
}

#questions-list li {
  list-style-type: none;
  padding-bottom: 30px;
  text-decoration: none;
}